<div class="container">
  <div>
    <h2>CSS Challenge</h2>
    <ul>
      <li><strong>Challenge:</strong> CSS</li>
      <li><strong>Duration:</strong> November 1&ndash;30, 2017</li>
      <li><strong>Format: </strong>Series of challenges, finish as many as you can, as fast as you can.</li>
    </ul>
    <h3>Rules:</h3>
    <ul>
      <li>Only submissions prior to Midnight, November 31, 2017 will count for the leaderboard.</li>
      <li>Use any resource you want to learn how to build each project, but build it yourself. (no copy and paste)</li>
      <li>Feel free to look at the source for the projects to figure out what you need to research, but use it for inspiration and to point you in the right direction, don't copy/paste it, write your own code.</li>
    </ul>
    <h3>Attribution</h3>
    <p>Inspiration and example projects taken from Matthias Martin's awesome 100 Days CSS Challenge - found here: https://codepen.io/collection/DYwpLQ/</p>
    <p>Challenge site created by <a href="https://github.com/AmirF27">AmirF27</a>. Additional development by: <a href="https://github.com/AmirF27">AmirF27</a>,
      <a href="https://github.com/matty22">matty22</a> and <a href="https://github.com/P1xt">P1xt</a></p>
    <h3>Study Resources:</h3>
    <p>The focus for the challenge will be CSS. You won&rsquo;t need to know more HTML than how to create a basic page and place a few elements on it. You won&rsquo;t need to know more JavaScript than how to select a DOM element and toggle a CSS class on it. The focus is CSS  &mdash;  badass CSS, the kind of CSS that will leave people thinking &ldquo;wow, how did you even do that&rdquo;.</p>
    <h4>Total Basics &mdash; if you&rsquo;re just starting out with&nbsp;CSS:</h4>
    <ul>
      <li><a href="https://learn.shayhowe.com/html-css/" target="_blank" rel="noopener nofollow" data-href="https://learn.shayhowe.com/html-css/">Learn to Code HTML &amp; CSS</a> &mdash; focus on the CSS portions</li>
      <li><a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT" target="_blank" rel="nofollow noopener" data-href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9gQeDH6xYhmO-db2mhoTSrT">CSS Tutorials for Beginners</a> &mdash; Overview of the basics.</li>
      <li><a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9hudKGi5o5UiWuTAGbxiLTh" target="_blank" rel="noopener nofollow" data-href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9hudKGi5o5UiWuTAGbxiLTh">CSS Positioning Tutorials</a> &mdash; Basic CSS for positioning content.</li>
    </ul>
    <h4>Further Study &mdash; if you want to prep more for general&nbsp;CSS:</h4>
    <ul>
      <li><a href="https://learn.shayhowe.com/advanced-html-css/" target="_blank" rel="nofollow noopener" data-href="https://learn.shayhowe.com/advanced-html-css/">Learn to Code Advanced HTML &amp; CSS</a> &mdash; focus on the CSS portions</li>
      <li><a href="https://www.youtube.com/watch?v=Y8zMYaD1bz0&amp;list=PL4cUxeGkcC9i3FXJSUfmsNOx8E7u6UuhG" target="_blank" rel="nofollow noopener" data-href="https://www.youtube.com/watch?v=Y8zMYaD1bz0&amp;list=PL4cUxeGkcC9i3FXJSUfmsNOx8E7u6UuhG">CSS Flexbox Tutorial</a> &mdash; Additional tool for positioning content.</li>
      <li><a href="https://www.youtube.com/watch?v=jgw82b5Y2MU&amp;list=PL4cUxeGkcC9iGYgmEd2dm3zAKzyCGDtM5" target="_blank" rel="noopener nofollow" data-href="https://www.youtube.com/watch?v=jgw82b5Y2MU&amp;list=PL4cUxeGkcC9iGYgmEd2dm3zAKzyCGDtM5">CSS Animation Tutorial</a> &mdash; Quick yet informative overview of CSS Animations.</li>
    </ul>
    <h4>Advanced Study &mdash; A further&nbsp;boost:</h4>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=St5B7hnMLjg&amp;list=PL4cUxeGkcC9iEwigam3gTjU_7IA3W2WZA" target="_blank" rel="nofollow noopener" data-href="https://www.youtube.com/watch?v=St5B7hnMLjg&amp;list=PL4cUxeGkcC9iEwigam3gTjU_7IA3W2WZA">SASS Tutorial</a> &mdash; Quick tutorial of the basics of Sass</li>
      <li><a href="https://www.youtube.com/watch?v=B9OZkATMbag&amp;list=PL4cUxeGkcC9htzG9o-QzCTsGMbmfuF4kk" target="_blank" rel="nofollow noopener" data-href="https://www.youtube.com/watch?v=B9OZkATMbag&amp;list=PL4cUxeGkcC9htzG9o-QzCTsGMbmfuF4kk">CSS Tips &amp; Tricks</a> &mdash; A few quick Tips that may come in handy</li>
      <li><a href="http://www.sassshop.com/#/" target="_blank" rel="nofollow noopener" data-href="http://www.sassshop.com/#/">Getting Sassy with CSS</a> &mdash; In depth coverage of Sass</li>
      <li><a href="https://www.youtube.com/watch?v=IM8eTD01UE8" target="_blank" rel="noopener nofollow" data-href="https://www.youtube.com/watch?v=IM8eTD01UE8">SVG Tutorial: With CSS Animation</a> &mdash; Quick intro to SVG for drawing images which you can then manipulate with CSS</li>
      <li><a href="https://www.youtube.com/watch?v=rmXVmfx3rNo" target="_blank" rel="nofollow noopener" data-href="https://www.youtube.com/watch?v=rmXVmfx3rNo">Sass Workflow &amp; Dev Server From Scratch Using Gulp</a> &mdash; for setting up Sass in your local development environment</li>
      <li><a href="https://www.youtube.com/watch?v=JqCs1pdmf9o&amp;list=PLHrxuCR-0CcSWiMuLf58iuIsNlP549-Sk" target="_blank" rel="nofollow noopener" data-href="https://www.youtube.com/watch?v=JqCs1pdmf9o&amp;list=PLHrxuCR-0CcSWiMuLf58iuIsNlP549-Sk">Jade/Pug Tips in 90 Seconds</a> &mdash; for those times you need to use a for loop to make a lot of HTML elements</li>
      <li><a href="https://www.youtube.com/watch?v=5BIAdWNcr8Y" target="_blank" rel="nofollow noopener" data-href="https://www.youtube.com/watch?v=5BIAdWNcr8Y">Emmet For Faster HTML &amp; CSS Workflow</a> &mdash; awesome tool for coding quickly (if you&rsquo;re not already using it, check it out)</li>
    </ul>
    <h4>Topics to focus&nbsp;on:</h4>
    <ul>
      <li>Positioning</li>
      <li>Transforms</li>
      <li>Transitions</li>
      <li>Animations</li>
      <li>Keyframes</li>
      <li>Gradients</li>
      <li>Complex Selectors</li>
      <li>Sass &mdash; will be very helpful</li>
      <li>Pug &mdash; could be helpful for speeding up HTML creation</li>
      <li>Adding/Removing a CSS Class from a DOM element with JavaScript</li>
    </ul>
    <p>The challenge is be open to all, beginners, experts, and everyone in between. You can participate to whatever level you are comfortable, either by setting personal goal and striving for that, or by jumping into the fray and competing against others to see who can complete the most, to good quality, the fastest.</p>
    <p>Note: you can hide yourself from the leaderboard via the settings option from the menu.</p>

  </div>
</div>
