<section>
  <h2>Settings</h2>
  <form (ngSubmit)="saveSettings()" class="component__form">
    <!-- Leaderboard -->
    <p>Do you wish to appear on the leaderboard?</p>

    <input [(ngModel)]="this.user.settings.appearOnLeaderboard"
           [checked]="this.user.settings.appearOnLeaderboard"
           [value]="true"
           id="leaderboard-y"
           type="radio"
           name="appearOnLeaderboard"
           class="form__radio"
           required>

    <label for="leaderboard-y">Yes</label>

    <input [(ngModel)]="this.user.settings.appearOnLeaderboard"
           [checked]="this.user.settings.appearOnLeaderboard"
           [value]="false"
           id="leaderboard-n"
           type="radio"
           name="appearOnLeaderboard"
           class="form__radio"
           required>

    <label for="leaderboard-n">No</label>

    <!-- Profile -->

    <p>Do you want your profile to be publicly visible?</p>

    <input [(ngModel)]="this.user.settings.profileVisible"
           [checked]="this.user.settings.profileVisible"
           [value]="true"
           id="profile-y"
           type="radio"
           name="profileVisible"
           class="form__radio"
           required>

    <label for="profile-y">Yes</label>

    <input [(ngModel)]="this.user.settings.profileVisible"
           [checked]="this.user.settings.profileVisible"
           [value]="false"
           id="profile-n"
           type="radio"
           name="profileVisible"
           class="form__radio"
           required>

    <label for="profile-n">No</label>
    <br>
    <br>
    <button class="component__button" type="submit">Save Settings</button>

    <span class="form__confirmation">{{confirmation}}</span>
  </form>
</section>
