<nav  class="nav navbar">
  <span class="navbar__logo"><a routerLink="/">CSS Challenge</a></span>
  <ul>
    <li class="navbar__link">
      <a routerLink="/leaderboard">Leaderboard</a>
    </li>
    <li class="navbar__link">
      <a routerLink="/">Challenge List</a>
    </li>
    <ng-container *ngIf="authenticated; then loggedIn else loggedOut"></ng-container>
  </ul>
</nav>

<ng-template #loggedIn>
  <li class="navbar__link">
    <a  routerLink="/settings">Settings</a>
  </li>
  <li class="navbar__link">
    <a routerLink="/" (click)="logout()">Logout</a>
  </li>
</ng-template>

<ng-template #loggedOut>
  <li class="navbar__link">
    <a routerLink="/login">Login</a>
  </li>
</ng-template>
