<nav  class="nav container">
  <ul class="navbar">
    <li class="navbar__logo"><a routerLink="/">CSS&nbsp;Challenge</a></li>
    <li class="navbar__link">
      <a routerLink="/leaderboard">Leaderboard</a>
    </li>
    <li class="navbar__link">
      <a routerLink="/challenges">Challenge List</a>
    </li>
  </ul>
  <ul class="navbar navbar--right">
    <ng-container *ngIf="socialAuth.authenticated; then loggedIn else loggedOut"></ng-container>
  </ul>
</nav>

<ng-template #loggedIn>
  <li class="navbar__link">
    <a  routerLink="/settings">
      <i class="fa fa-cog" aria-hidden="true"></i> Settings
    </a>
  </li>
  <li class="navbar__link">
    <a routerLink="/" (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
    </a>
  </li>
</ng-template>

<ng-template #loggedOut>
  <li class="navbar__link">
    <a routerLink="/login">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Login
    </a>
  </li>
</ng-template>
