<ng-template *ngIf="challenge; then challengeView else notFound"></ng-template>

<ng-template #challengeView>
  <div class="challenge">
    <div class="challenge__submit">
      <h2>Challenge: {{challenge.title}}</h2>

      <form class="component__form" (ngSubmit)="submitLinks()">



        <label for="code">Code</label>
        <input class="form__input" [(ngModel)]="formData.links.code" id="code" type="text" name="code" required>
        <br>
        <label for="live">Live version</label>
        <input class="form__input" [(ngModel)]="formData.links.live" id="live" type="text" name="live" required>
        <br>

        <button class="component__button" type="submit">Submit Links</button>

        <span class="form__confirmation" *ngIf="confirmation">{{confirmation}}</span>
      </form>

      <div class="challenge__navlinks">
        <button class="component__button" routerLink="/challenge/{{previousChallenge}}"><span class="fa fa-arrow-left"></span> Prev</button>
        <button class="component__button" routerLink="/challenge/{{nextChallenge}}">Next <span class="fa fa-arrow-right"></span></button>
      </div>
    </div>

    <div class="challenge__demo" [innerHTML]="challengeHtml | safeHtml"></div>
  </div>

</ng-template>

<ng-template #notFound>
  <div>{{notFoundMessage}}</div>
</ng-template>
