@import '../../../scss/partials/variables';
.challenge {
  display: flex;
  flex-direction: column;

  position: relative;
}

.challenge__demo {
  flex-basis: 275px;
  margin: 10px auto;
}

.challenge__navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.challenge__submit {
  flex-basis: 750px;
  margin: 10px auto;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  width: 400px;
  margin-bottom: 50px;
  padding: 20px;

  .fa {
    margin-right: 10px;
    margin-left: 10px;
  }

  h2 {
    width: 100%;
    background: #605b56;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding: 20px;
    margin-left: -20px;
    margin-top: -20px;
    text-align: center;
  }

  label {
    display: inline-block;
    min-width: 100px;
  }

  .form__input {
    margin-bottom: 5px;
    width: 380px;
  }

  .form__confirmation {
    padding-left: 20px;
    color: $color-text-primary;
  }
}
