.challenge {
  display: flex;
  flex-direction: column;

  position: relative;
}

.challenge__demo, .challenge__submit {
  flex-basis: 120px;
  margin: 10px auto;
}
.challenge__submit {
  flex-basis: 575px;
  margin: 10px auto;
}
.challenge__submit {

  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  width: 400px;
  height: 650px;
  margin-bottom: 50px;
  padding: 20px;

  h2 {
    width: 100%;
    background: #555;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding: 20px;
    margin-left: -20px;
    margin-top: -20px;
    text-align: center;
  }
  label {
    display: inline-block;
    min-width: 100px;
  }
  button {
    padding: 10px;
    background: #777;
    color: #fff;
  }
  input {
    margin-bottom: 5px;
    min-width: 250px;
  }
}
