<ng-template *ngIf="challenge; then challengeView else notFound"></ng-template>

<ng-template #challengeView>
  <div class="challenge">
    <div class="challenge__submit">
      <h2>Challenge: {{challenge.title}}</h2>
      <form (ngSubmit)="submitLinks()">


        <label for="code">Code</label>
        <input [(ngModel)]="formData.links.code" id="code" type="text" name="code" required>
        <br>
        <label for="live">Live version</label>
        <input [(ngModel)]="formData.links.live" id="live" type="text" name="live" required>
        <br>
        <button type="submit">Submit Links</button>
      </form>
    </div>
    <div class="challenge__demo" [innerHTML]="challengeHtml | safeHtml"></div>
  </div>

</ng-template>

<ng-template #notFound>
  <div>{{notFoundMessage}}</div>
</ng-template>
