<section *ngIf="user">
  <ng-container *ngIf="user.isCurrentUser; then userInfo else checkVisible"></ng-container>

  <ng-template #checkVisible>
    <ng-container *ngIf="user.visible; then userInfo else profileHidden"></ng-container>
  </ng-template>

  <ng-template #userInfo>
    <h2 class="profile__header">{{formatChallengeTitle()}}</h2>
    <table class="profile__table">
      <thead>
      <tr>
        <th>Challenge</th>
        <th>Date</th>
        <th colspan="2">Links</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of user.challengesCompleted">
        <td>{{challenge.title}}</td>
        <td>{{challenge.date}}</td>
        <td><a target="_blank" href="{{challenge.links.code}}">Code</a></td>
        <td><a target="_blank" href="{{challenge.links.live}}">Live version</a></td>
      </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #profileHidden>
    <h2 class="profile__header">{{user.username}} has chosen to hide their profile.</h2>
  </ng-template>
</section>
