<section *ngIf="user">
  <h2>{{user.username}}</h2>

  <ng-container *ngIf="user.isCurrentUser; then userInfo else checkVisible"></ng-container>

  <ng-template #checkVisible>
    <ng-container *ngIf="user.visible; then userInfo else profileHidden"></ng-container>
  </ng-template>

  <ng-template #userInfo>
    <h3>{{formatChallengeTitle()}}</h3>
    <ul>
      <li *ngFor="let challenge of user.challengesCompleted">
        <h4>{{challenge.title}}</h4>
        <span>Completed on {{challenge.date}}</span>
        <a target="_blank" href="{{challenge.links.code}}">Code</a>
        <a target="_blank" href="{{challenge.links.live}}">Live version</a>
      </li>
    </ul>
  </ng-template>

  <ng-template #profileHidden>
    {{user.username}} has chosen to hide their profile.
  </ng-template>
</section>
