.nav {
  height: $navbar-height;
  //display: flex;
  //justify-content: center;
}

.navbar {
  background: $color-primary;
  display: inline-block;
  //display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .navbar__link {
    display: inline-block;
  }

  .navbar__logo {
    @extend .left;
    display: inline-block;
    font-size: $logo-font-size;
    letter-spacing: $logo-letter-spacing;
    color: #ffffff;
    margin: 0;
    a {
      padding-left: 0;
    };
  }

  .navbar__link {
    a {
      padding-left: 15px;
    }
  }
  .navbar__link,
  .navbar__logo {
    line-height: $navbar-height;
    text-transform: uppercase;
    transition: $default-transition;

    a {
      color: $color-accent;
      display: inline-block;
      height: 100%;
      //padding-left: $navbar-link-padding;
      padding-right: $navbar-link-padding;
      transition: $default-transition;
    }

    &:hover {
      background: $color-accent;

      & a {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}

.navbar--right {
  @extend .right;
}

@media screen and (max-width: 980px) {
  header {
    height: 200px;
  }

  .navbar {
    flex-direction: column;
  }
}
